.cartArea {
	height: 100%;
	max-height: 100vh;
	background-color: var(--orange5);
	position: sticky;
	top: 0;
	padding: 28px 16px;
}

.cartArea h5 {
	margin-bottom: 50px;
}

.cartArea .body1 {
	margin-bottom: 25px;
}

.cartArea h6 {
	margin-bottom: 55px;
}

.cartArea .btn {
	color: var(--white);
	padding: 14px 28px;
	border-radius: 4px;
}

.cartArea .btn.delete {
	background: var(--red30);
}

.cartArea .btn.review {
	background: var(--orange10);
}