:root {
	--orange5: #ffe0b3;
	--orange501: #ffe0b31a;
	--orange10: #ff9900;
	--orange40: #995c00;
}

* {
	font-family: 'Lato', sans-serif;
	color: var(--black);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Typography */
body {
	background-color: var(--orange501);
}

h1 {
	font-size: 26px;
	font-weight: 600;
}

h2 {
	font-size: 22px;
	font-weight: 500;
}

button {
	font-size: 16px;
	line-height: 18px;
}

/* Utilities */
.container {
	width: 100%;
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

img {
	width: 100%;
	max-width: 100%;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	width: 100%;
	color: #fff;
	background: var(--orange10);
	padding: 12px 24px;
	border: none;
	border-radius: 10px;
	outline: 0;
	cursor: pointer;
	transition: all .3s ease;
}

.btn:hover {
	background: var(--orange40);
}

/* Page */
.activityPage {
	display: flex;
	justify-content: flex-end;
}

.activityPage .mainAreaWrapper {
	flex: 1;
	padding: 100px 0;
}

.activityPage .mainArea {
	max-width: 1100px;
	margin: 0 auto;
}

.activityPage .mainArea h1 {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 50px;
}

.activityPage .mainArea h1 img {
	width: 30px;
}

.activityPage .mainArea h2 {
	margin-bottom: 40px;
}

.activityPage .sidebarContainer {
	width: 450px;
}